@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0; 
    padding: 0; 
}

body {

    font-family: "Open sans", sans-serif; 
}

html{
    scroll-behavior: smooth; 
}

p { 
    color: rgb(85,85,85); 
}